.dialog-detailed table {
    border-top: 2px solid #ebebeb;
    font-size: 14px;
}

.dialog-detailed table tr {
    border: none;
}

.dialog-detailed td:first-child {
    color: #0078ff;
    text-align: right;
    font-weight: 600;

}

.dialog-detailed__table td:nth-child(1){
    width: 50%;
}