.users-component{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.ui {
    &.items {
      >.item {
        width: calc(50% - 2rem);
        margin: 1rem;
        padding: .5rem;
        background-color: #f3f3f3;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          background-color: #e8e8e8;
        }

        &:last-child, &:first-child {
          margin: 1rem;
        }
      }
    }
  }
}
