.ui.modal.dialog {
    form input:focus,
    button:focus,
    form input[type='checkbox']:focus + label:before{
        box-shadow: 0 0 0 1px #0078ff;
    }
}

.dialog__close {
    position: absolute;
    top: 5px;
    right: 3px;
    color: #d4d4d4;
    cursor: pointer;
}

.dialog__content {
    margin: 35px 0;
}

.dialog__title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;

    >span {
        color : #0078ff;
    }
}
